@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0 20px;
}

#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

#header-img {
    width: 100%;
    margin-bottom: 16px;
    max-width: 300px;
}

#nav-bar ul li {
    list-style: none;
    margin-bottom: 8px;
}

#nav-bar ul li a {
    text-align: center;
    width: 100%;
    display: inline-block;
    text-decoration:none;
    color: black;
}

#nav-bar ul li a:hover {
    color: #ff8b00;
}


@media (min-width:744px) {
    
    body {
        padding: 0 80px;
    }

    #header {
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-bar {
        width: 40%;
    }

    #nav-bar ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #nav-bar ul li {
        margin: 0;
    }

    #header-img {
        margin: 0;
    }
    
}

